:root {
  --h1: 28px;
  --h1-line-height: 34px;
  --h2: 24px;
  --h2-line-height: 29px;
  --h3: 20px;
  --h3-line-height: 24px;
  --h4: 14px;
  --h4-line-height: 18px;
  --body: 16px;
  --body-line-height: 26px;
  --margin-bottom: 60px;
  --violet: #5964e0;
  --light-violet: rgb(147, 155, 244);
  --very-dark-blue: rgb(25, 32, 45);
  --midnight-black: rgb(18, 23, 33);
  --white: rgb(255, 255, 255);
  --light-grey: rgb(244, 246, 248);
  --gray: rgb(157, 174, 194);
  --dark-grey: rgb(110, 128, 152);
  --div-gutter-right-left: 16%;
}
.job-header,
.job-section {
  background-color: var(--white);
}

/* header section ============================================= */

.job-header {
  display: flex;
  flex-direction: row;
  margin: 0px var(--div-gutter-right-left) 60px var(--div-gutter-right-left);
  max-height: 140px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.job-header.dark-mode {
  background-color: var(--very-dark-blue);
}
.job-header h1 {
  color: var(--midnight-black);
  font-size: var(--h2);
  margin-bottom: 20px;
}
.job-header h1.dark-mode {
  color: var(--white);
}
.job-header h2 {
  font-size: var(--body);
  color: var(--gray);
  font-weight: 300;
}
.job-header a {
  color: var(--violet);
  background-color: rgba(137, 160, 224, 0.1);
  font-weight: 600;
  letter-spacing: 0.4px;
}
.job-header a.dark-mode {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white);
}
.job-header a.dark-mode:hover {
  background-color: rgba(255, 255, 255, 0.4);
  filter: brightness(125%);
}
.job-header a:hover {
  cursor: pointer;
  background-color: rgba(137, 160, 224, 0.8);
}
.job-header > img {
  flex-basis: 20%;
}
.job-header > div {
  flex-basis: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

/* this is the section part or the main part ==================================== */
.job-section {
  margin: 0px var(--div-gutter-right-left) 0px var(--div-gutter-right-left);
  padding: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.job-section.dark-mode {
  background-color: var(--very-dark-blue);
}
.job-section h1 {
  font-size: var(--h1) !important;
}
.job-section h1.dark-mode {
  color: var(--white);
}
.job-section span {
  color: var(--violet);
  font-weight: 600 !important;
}
#requirements-div span {
  font-size: 20px;
}
.job-section li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}
#what-you-div span {
  font-size: var(--body);
}
.job-section p,
.job-section li {
  color: var(--gray);
  font-weight: 300;
  font-size: var(--body);
  line-height: var(--body-line-height);
}
.job-section > h2 {
  color: var(--dark-grey);
  font-size: var(--body);
  margin-bottom: 20px;
  font-weight: 300;
}
.job-section > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.job-section h1 {
  font-size: var(--h3);
  color: var(--midnight-black);
}
.job-section h3 {
  font-size: var(--h4);
  color: var(--violet);
  margin-bottom: var(--margin-bottom);
}
#first-para {
  margin-bottom: var(--margin-bottom);
}
#requirements-div {
  margin-bottom: var(--margin-bottom);
}
#requirements-div h2 {
  color: var(--midnight-black);
  font-size: var(--h3);
  margin-bottom: calc(var(--margin-bottom) - 15px);
}
#requirements-div h2.dark-mode {
  color: var(--white);
}
#second-para {
  margin-bottom: calc(var(--margin-bottom) - 15px);
}
#requirements-div li:not(:last-child),
#what-you-div li:not(:last-child) {
  margin-bottom: 15px;
}

#what-you-div h2 {
  color: var(--midnight-black);
  font-size: var(--h3);
  margin-bottom: calc(var(--margin-bottom) - 15px);
}
#what-you-div h2.dark-mode {
  color: var(--white);
}
#third-para {
  margin-bottom: calc(var(--margin-bottom) - 15px);
}
