:root {
    --h1: 28px;
    --h1-line-height: 34px;
    --h2: 24px;
    --h2-line-height: 29px;
    --h3: 20px;
    --h3-line-height: 24px;
    --h4: 14px;
    --h4-line-height: 18px;
    --body: 16px;
    --body-line-height: 26px;



    --violet: #5964E0;
    --light-violet: rgb(147, 155, 244);
    --very-dark-blue: rgb(25, 32, 45);
    --midnight-black: rgb(18, 23, 33);
    --white: rgb(255, 255, 255);
    --light-grey: rgb(244, 246, 248);
    --gray: rgb(157, 174, 194);
    --dark-grey: rgb(110, 128, 152);


    --left-and-right-body-gutter: 10%;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--light-grey);
}


/* this is the nav section  */
nav{
    background-image: url(../devjobs-web-app/starter-code/assets/desktop/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px var(--left-and-right-body-gutter) 0px var(--left-and-right-body-gutter);
    border-bottom-left-radius: 100px;
    margin-bottom: 150px;    
}
#nav-top-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  margin-bottom: 30px;
}
.dark-or-light-mode{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

/* 
this is for the night and light mode slider ====== */

.switch {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 23px;
  }
  
 
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:var(--white);
    transition: 0.5s;
    border-radius: 34px;
  }
  
 
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: var(--violet);
    transition: 0.4s;
    border-radius: 50%;
  }
  
  
 
  
  input:checked + .slider:before {
    transform: translateX(27px);
  }

/* this is the bottom nav section ===================== */

  #nav-bottom-div{
    display: flex;
    flex-direction: row;
  
  }
  #nav-bottom-div div{
    height: 50px;
    background-color: white;
   align-self: center;
   display: flex;
   flex-direction: row;
   align-items: center;
    padding-left: 30px;
  }
  .search-bar{
    flex: 0.45;
    border-right: 2.5px solid var(--light-grey);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.filter-location{
    flex: 0.25;
    border-right: 2.5px solid var(--light-grey);
}
.full-time-only{
    flex: 0.3;
    border-right: 2.5px solid var(--light-grey);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
/* main */
/* this is the jobs section */


main {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 100px;
    margin: 0px var(--left-and-right-body-gutter) 0px var(--left-and-right-body-gutter);

}


@media screen and (min-width: 768px) and (max-width: 1439px) {
  
}






@media screen and (max-width: 767px) {
  
}